<nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="" class="brand-logo"><i class="material-icons">cloud</i>Mosam</a>
      <ul class="right">
        <app-search></app-search>
      </ul>
    </div>  
</nav>
<br>
<div class="row">
    <div class="col s4">
        <app-burbank></app-burbank>
    </div>
    <div class="col s4">
        <app-chicago></app-chicago>
    </div>
    <div class="col s4">
        <app-dallas></app-dallas>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <app-sanjose></app-sanjose>
    </div>
    <div class="col s4">
        <app-seattle></app-seattle>
    </div>
    <div class="col s4">
        <app-washington></app-washington>
    </div>
</div>
<div class="footer-copyright black">
    <div class="container">
        <div class="white-text foot"> Contributed by Komal Dhall</div>
    </div>
</div>
